*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Light.woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Medium.woff");
  font-weight: 500;
  font-size: normal; }

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-MediumItalic.woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Bold.woff");
  font-weight: 700;
  font-style: normal; }

html {
  font-size: 62.5%; }

body,
input,
textarea {
  font-family: "SF Pro Display"; }

.container {
  display: grid;
  grid-template-rows: repeat(11, min-content);
  grid-template-columns: [full-start] 1fr [content-left-start] 52rem [content-left-end] repeat(2, [middle-spacing-start] 8rem [middle-spacing-end]) [content-right-start] 52rem [content-right-end] 1fr [full-end];
  overflow: hidden; }

.btn {
  cursor: pointer;
  padding: 1.5rem 3rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  font-family: inherit;
  border: 1px solid #333333; }
  .btn:focus {
    outline: none; }
  .btn--black {
    background-color: #333333;
    color: #fff; }
    .btn--black:hover {
      background-color: #000000;
      border-color: #000000; }
  .btn--white {
    background-color: #fff;
    color: #222222; }
    .btn--white:hover {
      background-color: #333333;
      color: #fff; }

.heading-1 {
  font-size: 9.6rem;
  line-height: 11.5rem;
  letter-spacing: 1rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase; }

.heading-2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4rem;
  color: #000000;
  line-height: 120%;
  letter-spacing: 0.1rem; }
  .heading-2--light {
    text-transform: none;
    color: #fff;
    font-weight: 200; }
  .heading-2--bold {
    text-transform: none;
    font-weight: 700; }

.heading-3 {
  font-weight: 400;
  font-size: 2.8rem;
  color: #222222;
  line-height: 125%; }

.paragraph,
input,
textarea {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: #222222; }
  .paragraph--bold,
  input--bold,
  textarea--bold {
    font-weight: 700; }

.nav {
  grid-column: content-left-start / content-right-end;
  display: grid;
  grid-template-columns: repeat(2, minmax(37rem, max-content));
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0; }
  .nav__wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: center;
    grid-column-gap: 4rem; }
  .nav h2 {
    margin-right: 4rem; }
  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(1rem, max-content));
    align-items: center;
    grid-column-gap: 4rem;
    list-style: none; }
  .nav__item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%; }
  .nav__link {
    text-decoration: none;
    color: #222222; }
  .nav__buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    grid-column-gap: 4rem; }

.phone a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  color: #222; }

.header {
  grid-column: full-start / full-end;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-row-gap: 4rem;
  height: 79rem;
  background-image: url(/img/image781.jpg);
  background-size: cover; }
  .header .heading-2 {
    width: 55rem;
    text-align: center; }

.description {
  grid-column: content-left-start / content-right-end;
  display: grid;
  grid-template-columns: [content-inner-ls] 52rem [content-inner-le spacing-inner-ls] 8rem [spacing-inner-le spacing-inner-rs] 8rem [spacing-inner-re content-inner-rs] 52rem [content-inner-re];
  padding: 20rem 0 10rem; }
  .description .head__wrapper {
    grid-column: content-inner-ls / content-inner-re; }
  .description__par--1 {
    grid-column: spacing-inner-rs / content-inner-re; }
  .description__par--2 {
    grid-column: content-inner-ls / content-inner-le; }
  .description__par--3 {
    grid-column: spacing-inner-rs / content-inner-re; }

.u-heading-margin {
  margin-bottom: 8rem; }

.u-paragraph-margin {
  margin-bottom: 1.2rem; }

.u-margin-medium-t {
  margin-top: 2rem; }

.u-margin-small-b {
  margin-bottom: 1rem; }

.u-margin-big-b {
  margin-bottom: 4rem; }

.u-margin-largest-b {
  margin-bottom: 20rem; }

.map {
  grid-column: full-start / full-end; }
  .map__map {
    width: 100%; }

.gallery {
  grid-column: content-left-start / full-end;
  padding: 20rem 0; }
  .gallery__out {
    grid-column: full-start / full-end; }
  .gallery__mask__wrapper {
    width: 100%; }
  .gallery__wrapper {
    margin-bottom: 6rem;
    display: flex;
    transition: all 0.3s; }
    .gallery__wrapper--img {
      position: relative; }
      .gallery__wrapper--img:not(:last-of-type) {
        margin-right: 4rem; }
    .gallery__wrapper--overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 27.55%); }
  .gallery__caption {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    color: #fff; }

.arr-buttons svg {
  width: 4.1rem;
  height: 1.6rem;
  cursor: pointer;
  margin-right: 3rem;
  fill: #bdbdbd; }
  .arr-buttons svg:hover {
    fill: #333333; }

.style {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [content-inner-ls] 1fr [middle-inner-l] 52rem [content-inner-le spacing-inner-ls] 8rem [spacing-inner-le spacing-inner-rs] 8rem [spacing-inner-re content-inner-rs] 52rem [middle-inner-r] 1fr [content-inner-re];
  align-items: center; }
  .style__img {
    grid-column: content-inner-ls/content-inner-le;
    height: 60rem; }
    .style__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .style__text {
    grid-column: spacing-inner-rs/middle-inner-r; }

.apartments {
  grid-column: content-left-start / content-right-end;
  padding: 20rem 0;
  display: grid;
  grid-template-columns: [content-inner-ls] 52rem [content-inner-le spacing-inner-ls] 8rem [spacing-inner-le spacing-inner-rs] 8rem [spacing-inner-re content-inner-rs] 52rem [content-inner-re]; }
  .apartments__content {
    width: min-content; }
    .apartments__content--1 {
      grid-column: content-inner-ls/content-inner-le; }
    .apartments__content--2 {
      grid-column: content-inner-rs/content-inner-re; }
  .apartments__img {
    width: 52rem;
    height: 60rem; }
    .apartments__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .apartments__link {
    color: #707070;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 3px; }
    .apartments__link:hover {
      color: #222222; }

.comfort-zone {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [content-inner-ls] 1fr [middle-inner-l] 52rem [content-inner-le spacing-inner-ls] 8rem [spacing-inner-le spacing-inner-rs] 8rem [spacing-inner-re content-inner-rs] 52rem [middle-inner-r] 1fr [content-inner-re];
  align-items: center; }
  .comfort-zone__img {
    grid-column: content-inner-rs/content-inner-re;
    height: 60rem; }
    .comfort-zone__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .comfort-zone__text {
    grid-column: middle-inner-l/spacing-inner-le; }

.characteristics {
  grid-column: content-left-start / content-right-end;
  padding: 20rem 0; }
  .characteristics__grid {
    display: grid;
    column-gap: 9rem;
    row-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr)); }

.form {
  grid-column: full-start / full-end;
  padding: 10rem 0 8rem;
  background-color: #333333; }
  .form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 0 auto; }
  .form .heading-2 {
    color: #fff; }
  .form__input {
    margin-bottom: 2rem;
    line-height: 110%;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #707070;
    width: 100%;
    padding: 2rem 3rem;
    display: block;
    color: #fff; }
    .form__input::placeholder {
      color: #bdbdbd; }
    .form__input:hover {
      border-color: #bdbdbd; }
    .form__input:focus {
      border-color: #fff;
      outline: none; }
    .form__input:invalid {
      border-color: #f34c4c; }
  .form__textarea {
    height: 12rem;
    resize: none; }
  .form__text {
    margin-bottom: 4rem;
    font-weight: 500;
    font-style: italic;
    font-size: 1.4rem;
    line-height: 120%;
    color: #bdbdbd; }
  .form .btn--white {
    padding: 2rem 7rem; }
    .form .btn--white:hover {
      background-color: #bdbdbd;
      color: #222222; }

.footer {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [content-inner-ls] 1fr [middle-inner-l] 52rem [content-inner-le spacing-inner-ls] 8rem [spacing-inner-le spacing-inner-rs] 8rem [spacing-inner-re content-inner-rs] 52rem [middle-inner-r] 1fr [content-inner-re];
  padding: 6rem 0 4rem;
  background-color: #222222;
  color: #fff; }
  .footer__copy {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%; }
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-self: start;
    column-gap: 6rem;
    row-gap: 2rem; }
    .footer__nav__link {
      text-decoration: none;
      color: #fff; }
  .footer__contacts {
    grid-column: content-inner-rs/middle-inner-r;
    justify-self: flex-end; }
  .footer__heading__wrapper {
    grid-column: middle-inner-l/content-inner-le;
    height: 18.9rem;
    display: grid;
    align-content: space-between; }
  .footer .heading-2,
  .footer .heading-3 {
    color: #fff; }
  .footer .heading-3 {
    margin-bottom: 3rem; }
