*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Light.woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Medium.woff");
  font-weight: 500;
  font-size: normal; }

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-MediumItalic.woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Bold.woff");
  font-weight: 700;
  font-style: normal; }

html {
  font-size: 62.5%; }

body,
input,
textarea {
  font-family: "SF Pro Display"; }

.container {
  display: grid;
  grid-template-rows: repeat(11, min-content);
  grid-template-columns: [full-start] minmax(2rem, 1fr) [content-left-start] minmax(40rem, 52rem) [content-left-end] repeat(2, [middle-spacing-start] 8rem [middle-spacing-end]) [content-right-start] minmax(40rem, 52rem) [content-right-end] minmax(2rem, 1fr) [full-end];
  overflow: hidden; }
  @media (max-width: 62.5em) {
    .container {
      grid-template-columns: [full-start] minmax(2rem, 1fr) [content-left-start] 28rem [content-left-end middle-spacing-start] 4rem [middle-spacing-end content-right-start] 28rem [content-right-end] minmax(2rem, 1fr) [full-end]; } }
  @media (max-width: 40em) {
    .container {
      grid-template-columns: [full-start] minmax(2rem, 1fr) [content-left-start] 28rem [content-right-end] minmax(2rem, 1fr) [full-end]; } }

.btn {
  cursor: pointer;
  padding: 1.5rem 3rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  font-family: inherit;
  border: 1px solid #333333; }
  @media (max-width: 62.5em) {
    .btn {
      font-size: 1.8rem; } }
  .btn:focus {
    outline: none; }
  .btn--black {
    background-color: #000000;
    color: #fff; }
    .btn--black:hover {
      background-color: #e7e7e7;
      color: #222222;
      border-color: #e7e7e7; }
  .btn--white {
    background-color: #fff;
    color: #222222; }
    .btn--white:hover {
      background-color: #333333;
      color: #fff; }

.heading-1 {
  font-size: 9.6rem;
  line-height: 11.5rem;
  letter-spacing: 1rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-top: 26rem; }
  @media (max-width: 62.5em) {
    .heading-1 {
      margin-top: 8rem; } }
  @media (max-width: 40em) {
    .heading-1 {
      font-size: 5.6rem;
      line-height: 6.7rem; } }

.heading-2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4rem;
  color: #000000;
  line-height: 120%;
  letter-spacing: 0.1rem; }
  @media (max-width: 62.5em) {
    .heading-2 {
      font-size: 3rem; } }
  .heading-2--light {
    text-transform: none;
    color: #fff;
    font-weight: 200; }
    @media (max-width: 62.5em) {
      .heading-2--light {
        font-size: 4rem; } }
    @media (max-width: 40em) {
      .heading-2--light {
        font-size: 3rem; } }
  .heading-2--bold {
    text-transform: none;
    font-weight: 700; }

.heading-3 {
  font-weight: 400;
  font-size: 2.8rem;
  color: #222222;
  line-height: 125%; }
  @media (max-width: 62.5em) {
    .heading-3 {
      font-size: 2.2rem; } }

.paragraph,
input,
textarea {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: #222222; }
  .paragraph--bold,
  input--bold,
  textarea--bold {
    font-weight: 700; }

@media (max-width: 62.5em) {
  .paragraph {
    font-size: 1.6rem; } }

.nav {
  grid-column: content-left-start / content-right-end;
  display: grid;
  grid-template-columns: repeat(2, minmax(37rem, max-content));
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0; }
  @media (max-width: 62.5em) {
    .nav {
      grid-template-columns: [content-inner-ls] 28rem [content-inner-le spacing-inner-rs] 4rem [spacing-inner-re content-inner-rs] 28rem [content-inner-re]; } }
  @media (max-width: 40em) {
    .nav {
      grid-template-columns: [content-inner-ls] 28rem [content-inner-le]; } }
  .nav__wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: center;
    grid-column-gap: 4rem; }
    @media (max-width: 90em) {
      .nav__wrapper {
        display: none; } }
  .nav__wrapper__little {
    grid-column: content-inner-ls/content-inner-le;
    grid-row: 1/2;
    position: relative;
    justify-self: start;
    display: none;
    width: 4rem;
    height: 3.1rem; }
    @media (max-width: 62.5em) {
      .nav__wrapper__little {
        width: 3.5rem; } }
    @media (max-width: 40em) {
      .nav__wrapper__little {
        width: 3rem; } }
    .nav__wrapper__little__menu {
      display: none; }
    .nav__wrapper__little label {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer; }
    .nav__wrapper__little .menu__icon {
      top: 50%; }
      .nav__wrapper__little .menu__icon, .nav__wrapper__little .menu__icon::before, .nav__wrapper__little .menu__icon::after {
        position: absolute;
        width: 100%;
        height: 0.4rem;
        background-color: #333333;
        display: inline-block; }
      .nav__wrapper__little .menu__icon::before {
        content: "";
        transform: translateY(-1.2rem); }
        @media (max-width: 62.5em) {
          .nav__wrapper__little .menu__icon::before {
            transform: translateY(-1rem); } }
        @media (max-width: 40em) {
          .nav__wrapper__little .menu__icon::before {
            transform: translateY(-0.8rem); } }
      .nav__wrapper__little .menu__icon::after {
        content: "";
        transform: translateY(1.2rem); }
        @media (max-width: 62.5em) {
          .nav__wrapper__little .menu__icon::after {
            transform: translateY(1rem); } }
        @media (max-width: 40em) {
          .nav__wrapper__little .menu__icon::after {
            transform: translateY(0.8rem); } }
    @media (max-width: 90em) {
      .nav__wrapper__little {
        display: inline-block; } }
  .nav h2 {
    margin-right: 4rem; }
  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(1rem, max-content));
    align-items: center;
    grid-column-gap: 4rem;
    list-style: none; }
  .nav__item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%; }
  .nav__link {
    text-decoration: none;
    color: #222222; }
  .nav__buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    grid-column-gap: 4rem; }
    @media (max-width: 62.5em) {
      .nav__buttons {
        grid-template-columns: max-content;
        grid-column: content-inner-rs/content-inner-re;
        justify-content: flex-end; }
        .nav__buttons .btn {
          display: none; } }
    @media (max-width: 40em) {
      .nav__buttons {
        grid-template-columns: max-content;
        grid-column: content-inner-ls/content-inner-le;
        grid-row: 1/2; } }

.phone a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  color: #222; }
  @media (max-width: 40em) {
    .phone a {
      font-size: 1.6rem;
      font-weight: 400; } }

.header {
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 79rem;
  background-image: url(/img/image781.jpg);
  background-size: cover;
  background-position: center; }
  @media (max-width: 62.5em) {
    .header {
      height: 55rem; } }
  .header .heading-2 {
    width: 55rem;
    text-align: center; }
    @media (max-width: 62.5em) {
      .header .heading-2 {
        margin-bottom: 10rem; } }
    @media (max-width: 40em) {
      .header .heading-2 {
        width: 30rem;
        margin-bottom: 8rem; } }
  .header .btn {
    visibility: hidden;
    padding: 2rem 7rem;
    border-color: #fff; }
    .header .btn:hover {
      border-color: #333333; }
    @media (max-width: 62.5em) {
      .header .btn {
        visibility: visible; } }
    @media (max-width: 40em) {
      .header .btn {
        width: 28rem;
        padding: 1.5rem 0; } }

.description {
  grid-column: content-left-start / content-right-end;
  display: grid;
  grid-template-columns: [content-inner-ls] minmax(40rem, 52rem) [content-inner-le spacing-inner-ls] 8rem [spacing-inner-le spacing-inner-rs] 8rem [spacing-inner-re content-inner-rs] minmax(40rem, 52rem) [content-inner-re];
  padding: 20rem 0 10rem; }
  @media (max-width: 62.5em) {
    .description {
      grid-template-columns: [content-inner-ls] 28rem [content-inner-le spacing-inner-rs] 4rem [spacing-inner-re content-inner-rs] 28rem [content-inner-re]; } }
  @media (max-width: 40em) {
    .description {
      grid-template-columns: [content-inner-ls] 28rem [content-inner-le]; } }
  @media (max-width: 90em) {
    .description {
      padding: 16rem 0 6rem; } }
  @media (max-width: 62.5em) {
    .description {
      padding: 12rem 0 6rem; } }
  @media (max-width: 40em) {
    .description {
      padding: 10rem 0 6rem; } }
  .description .head__wrapper {
    grid-column: content-inner-ls / content-inner-le; }
    @media (max-width: 62.5em) {
      .description .head__wrapper {
        grid-column: content-inner-ls / content-inner-re; } }
    @media (max-width: 40em) {
      .description .head__wrapper {
        grid-column: content-inner-ls / content-inner-le; } }
  .description__par--1 {
    grid-column: spacing-inner-rs / content-inner-re; }
    @media (max-width: 62.5em) {
      .description__par--1 {
        grid-column: content-inner-rs / content-inner-re; } }
    @media (max-width: 40em) {
      .description__par--1 {
        grid-column: content-inner-ls / content-inner-le; } }
  .description__par--2 {
    grid-column: content-inner-ls / content-inner-le; }
  .description__par--3 {
    grid-column: spacing-inner-rs / content-inner-re; }
    @media (max-width: 62.5em) {
      .description__par--3 {
        grid-column: content-inner-rs / content-inner-re; } }
    @media (max-width: 40em) {
      .description__par--3 {
        grid-column: content-inner-ls / content-inner-le;
        margin-top: 2rem; } }

.u-heading-margin {
  margin-bottom: 8rem; }
  @media (max-width: 90em) {
    .u-heading-margin {
      margin-bottom: 6rem; } }
  @media (max-width: 62.5em) {
    .u-heading-margin {
      margin-bottom: 4rem; } }

.u-paragraph-margin {
  margin-bottom: 1.2rem; }

.u-margin-medium-t {
  margin-top: 2rem; }

.u-margin-small-b {
  margin-bottom: 1rem; }

.u-margin-big-b {
  margin-bottom: 4rem; }
  @media (max-width: 62.5em) {
    .u-margin-big-b {
      margin-bottom: 2rem; } }

.u-margin-largest-b {
  margin-bottom: 20rem; }
  @media (max-width: 62.5em) {
    .u-margin-largest-b {
      margin-bottom: 12rem; } }
  @media (max-width: 40em) {
    .u-margin-largest-b {
      margin-bottom: 10rem; } }

.map {
  grid-column: full-start / full-end; }
  .map__map {
    width: 100%; }
    @media (max-width: 62.5em) {
      .map__map {
        height: 40rem; } }

.gallery {
  grid-column: content-left-start / full-end;
  padding: 20rem 0; }
  @media (max-width: 90em) {
    .gallery {
      padding: 16rem 0; } }
  @media (max-width: 62.5em) {
    .gallery {
      padding: 12rem 0; } }
  @media (max-width: 40em) {
    .gallery {
      padding: 10rem 0; } }
  .gallery__wrapper {
    width: 100%;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(6, minmax(40rem, 52rem));
    column-gap: 4rem;
    transition: all 0.3s; }
    @media (max-width: 62.5em) {
      .gallery__wrapper {
        grid-template-columns: repeat(6, 28rem); } }
    @media (max-width: 62.5em) {
      .gallery__wrapper {
        column-gap: 2rem; } }
    @media (max-width: 40em) {
      .gallery__wrapper {
        column-gap: 1rem; } }
    .gallery__wrapper--img {
      position: relative;
      height: 55rem; }
      @media (max-width: 62.5em) {
        .gallery__wrapper--img {
          height: 38rem; } }
      .gallery__wrapper--img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .gallery__wrapper--overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 27.55%); }
  .gallery__caption {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    color: #fff; }
    @media (max-width: 62.5em) {
      .gallery__caption {
        bottom: 2rem;
        left: 2rem; } }

.arr-buttons svg {
  width: 4.1rem;
  height: 1.6rem;
  cursor: pointer;
  margin-right: 3rem;
  fill: #bdbdbd; }
  .arr-buttons svg:hover {
    fill: #333333; }

.style {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [content-inner-ls] minmax(2rem, 1fr) [middle-inner-l] minmax(40rem, 52rem) [content-inner-le spacing-inner-ls] 8rem [spacing-inner-le spacing-inner-rs] 8rem [spacing-inner-re content-inner-rs] minmax(40rem, 52rem) [middle-inner-r] minmax(2rem, 1fr) [content-inner-re];
  align-items: center; }
  @media (max-width: 40em) {
    .style {
      grid-column: content-left-start / content-right-end; } }
  @media (max-width: 62.5em) {
    .style {
      grid-template-columns: [content-inner-ls] minmax(2rem, 1fr) [middle-inner-l] 28rem [content-inner-le spacing-inner-rs] 4rem [spacing-inner-re content-inner-rs] 28rem [middle-inner-r] minmax(2rem, 1fr) [content-inner-re]; } }
  @media (max-width: 40em) {
    .style {
      grid-template-columns: [content-inner-ls] 28rem [content-inner-le]; } }
  .style__img {
    grid-column: content-inner-ls/content-inner-le;
    height: 60rem; }
    @media (max-width: 40em) {
      .style__img {
        height: 40rem; } }
    .style__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .style__text {
    grid-column: spacing-inner-rs/middle-inner-r; }
    @media (max-width: 62.5em) {
      .style__text {
        grid-column: content-inner-rs/middle-inner-r; } }
    @media (max-width: 40em) {
      .style__text {
        grid-column: content-inner-ls/content-inner-le;
        grid-row: 1/2;
        margin-bottom: 4rem; } }

.apartments {
  grid-column: content-left-start / content-right-end;
  padding: 20rem 0;
  display: grid;
  grid-template-columns: [content-inner-ls] minmax(40rem, 52rem) [content-inner-le spacing-inner-ls] 8rem [spacing-inner-le spacing-inner-rs] 8rem [spacing-inner-re content-inner-rs] minmax(40rem, 52rem) [content-inner-re]; }
  @media (max-width: 90em) {
    .apartments {
      padding: 16rem 0; } }
  @media (max-width: 62.5em) {
    .apartments {
      padding: 12rem 0; } }
  @media (max-width: 40em) {
    .apartments {
      padding: 10rem 0; } }
  @media (max-width: 62.5em) {
    .apartments {
      grid-template-columns: [content-inner-ls] 28rem [content-inner-le spacing-inner-rs] 4rem [spacing-inner-re content-inner-rs] 28rem [content-inner-re]; } }
  @media (max-width: 40em) {
    .apartments {
      grid-template-columns: [content-inner-ls] 28rem [content-inner-le]; } }
  .apartments__content--1 {
    grid-column: content-inner-ls/content-inner-le; }
  .apartments__content--2 {
    grid-column: content-inner-rs/content-inner-re; }
    @media (max-width: 40em) {
      .apartments__content--2 {
        margin-top: 4rem;
        grid-column: content-inner-ls/content-inner-le; } }
  .apartments__img {
    height: 60rem; }
    @media (max-width: 62.5em) {
      .apartments__img {
        height: 38rem; } }
    @media (max-width: 40em) {
      .apartments__img {
        height: 30rem; } }
    .apartments__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .apartments__link {
    color: #707070;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 3px; }
    .apartments__link:hover {
      color: #222222; }

.comfort-zone {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [content-inner-ls] minmax(2rem, 1fr) [middle-inner-l] minmax(40rem, 52rem) [content-inner-le spacing-inner-ls] 8rem [spacing-inner-le spacing-inner-rs] 8rem [spacing-inner-re content-inner-rs] minmax(40rem, 52rem) [middle-inner-r] minmax(2rem, 1fr) [content-inner-re];
  align-items: center; }
  @media (max-width: 40em) {
    .comfort-zone {
      grid-column: content-left-start / content-right-end; } }
  @media (max-width: 62.5em) {
    .comfort-zone {
      grid-template-columns: [content-inner-ls] minmax(2rem, 1fr) [middle-inner-l] 28rem [content-inner-le spacing-inner-rs] 4rem [spacing-inner-re content-inner-rs] 28rem [middle-inner-r] minmax(2rem, 1fr) [content-inner-re]; } }
  @media (max-width: 40em) {
    .comfort-zone {
      grid-template-columns: [content-inner-ls] 28rem [content-inner-le]; } }
  .comfort-zone__img {
    grid-column: content-inner-rs/content-inner-re;
    height: 60rem; }
    @media (max-width: 40em) {
      .comfort-zone__img {
        grid-column: content-inner-ls/content-inner-le;
        height: 40rem; } }
    .comfort-zone__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .comfort-zone__text {
    grid-column: middle-inner-l/content-inner-le; }
    @media (max-width: 40em) {
      .comfort-zone__text {
        grid-column: content-inner-ls/content-inner-le;
        margin-bottom: 4rem; } }

.characteristics {
  grid-column: content-left-start / content-right-end;
  padding: 20rem 0; }
  @media (max-width: 90em) {
    .characteristics {
      padding: 16rem 0; } }
  @media (max-width: 62.5em) {
    .characteristics {
      padding: 12rem 0; } }
  @media (max-width: 40em) {
    .characteristics {
      padding: 10rem 0; } }
  .characteristics__grid {
    display: grid;
    column-gap: 9rem;
    row-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr)); }
    @media (max-width: 90em) {
      .characteristics__grid {
        grid-template-columns: repeat(auto-fit, minmax(48rem, 1fr));
        column-gap: 0; } }
    @media (max-width: 62.5em) {
      .characteristics__grid {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        column-gap: 4rem; } }
    @media (max-width: 40em) {
      .characteristics__grid {
        grid-template-columns: minmax(28rem, 1fr);
        row-gap: 2rem; }
        .characteristics__grid .u-margin-medium-t {
          margin-top: 1rem; } }

.form {
  grid-column: full-start / full-end;
  padding: 10rem 0 8rem;
  background-color: #333333; }
  @media (max-width: 90em) {
    .form {
      padding: 8rem 0 6rem; } }
  @media (max-width: 40em) {
    .form {
      padding: 6rem 0 6rem; } }
  .form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 0 auto; }
  .form .heading-2 {
    color: #fff;
    text-align: center; }
    @media (max-width: 40em) {
      .form .heading-2 {
        width: 28rem; } }
  .form__input {
    margin-bottom: 2rem;
    line-height: 110%;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #707070;
    width: 57.8rem;
    padding: 2rem 3rem;
    display: block;
    color: #fff; }
    @media (max-width: 40em) {
      .form__input {
        width: 28rem;
        padding: 2rem; } }
    .form__input::placeholder {
      color: #bdbdbd; }
    .form__input:hover {
      border-color: #bdbdbd; }
    .form__input:focus {
      border-color: #fff;
      outline: none; }
    .form__input:invalid {
      border-color: #f34c4c; }
  .form__textarea {
    height: 12rem;
    resize: none; }
  .form__text {
    margin-bottom: 4rem;
    font-weight: 500;
    font-style: italic;
    font-size: 1.4rem;
    line-height: 120%;
    color: #bdbdbd;
    text-align: center; }
    @media (max-width: 40em) {
      .form__text {
        width: 28rem; } }
  .form .btn--white {
    padding: 2rem 7rem; }
    @media (max-width: 62.5em) {
      .form .btn--white {
        font-size: 2rem; } }
    @media (max-width: 40em) {
      .form .btn--white {
        width: 28rem;
        font-size: 1.8rem;
        padding: 2rem 0; } }
    .form .btn--white:hover {
      background-color: #bdbdbd;
      color: #222222; }

.footer {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [content-inner-ls] minmax(2rem, 1fr) [middle-inner-l] minmax(40rem, 52rem) [content-inner-le spacing-inner-ls] 8rem [spacing-inner-le spacing-inner-rs] 8rem [spacing-inner-re content-inner-rs] minmax(40rem, 52rem) [middle-inner-r] minmax(2rem, 1fr) [content-inner-re];
  padding: 6rem 0 4rem;
  background-color: #222222;
  color: #fff; }
  @media (max-width: 62.5em) {
    .footer {
      grid-template-columns: [content-inner-ls] minmax(2rem, 1fr) [middle-inner-l] 28rem [content-inner-le spacing-inner-rs] 4rem [spacing-inner-re content-inner-rs] 28rem [middle-inner-r] minmax(2rem, 1fr) [content-inner-re]; } }
  .footer__copy {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%; }
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-self: start;
    column-gap: 6rem;
    row-gap: 2rem; }
    .footer__nav__link {
      text-decoration: none;
      color: #fff; }
  .footer__phone {
    font-size: 2.8rem; }
  .footer__contacts {
    grid-column: content-inner-rs/middle-inner-r;
    justify-self: flex-end; }
  .footer__heading__wrapper {
    grid-column: middle-inner-l/content-inner-le;
    height: 18.9rem;
    display: grid;
    align-content: space-between; }
  .footer .heading-2,
  .footer .heading-3 {
    color: #fff; }
  .footer .heading-3 {
    margin-bottom: 3rem; }
