*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// COLORS
$color-white: #fff;
$color-black: #000000;
$color-text: #222222;
$color-grey-dark: #333333;
$color-grey-light: #bdbdbd;
$color-grey-medium: #707070;
$color-grey-another: #e7e7e7;

// PADDING
$padding-global: 20rem;
$padding-global-notebook: 16rem;
$padding-global-tab: 12rem;
$padding-global-phone: 10rem;

// GRID
$column: minmax(40rem, 52rem); //global column size
$column-tab: 28rem; //less width devices size
$spacing: 8rem; //global spacing size
$spacing-tab: 4rem; //less width devices size

//inner grid template, subgrid with lines placement equal to parent grid
$inner-grid-columns-template: [content-inner-ls] $column [content-inner-le
  spacing-inner-ls] $spacing [spacing-inner-le spacing-inner-rs] $spacing
  [spacing-inner-re content-inner-rs] $column [content-inner-re];

$inner-grid-columns-template-fullwidth: [content-inner-ls] minmax(2rem, 1fr)
  [middle-inner-l] $column [content-inner-le spacing-inner-ls] $spacing
  [spacing-inner-le spacing-inner-rs] $spacing [spacing-inner-re
  content-inner-rs] $column [middle-inner-r] minmax(2rem, 1fr)
  [content-inner-re];

//different grid for less width devices
$inner-grid-columns-template-tab: [content-inner-ls] $column-tab
  [content-inner-le spacing-inner-rs] $spacing-tab [spacing-inner-re
  content-inner-rs] $column-tab [content-inner-re];

$inner-grid-columns-template-fullwidth-tab: [content-inner-ls] minmax(2rem, 1fr)
  [middle-inner-l] $column-tab [content-inner-le spacing-inner-rs] $spacing-tab
  [spacing-inner-re content-inner-rs] $column-tab [middle-inner-r]
  minmax(2rem, 1fr) [content-inner-re];

$inner-grid-columns-template-phone: [content-inner-ls] $column-tab
  [content-inner-le];
$inner-grid-columns-template-phone-fullwidth: minmax(2rem, 1fr)
  [content-inner-ls] $column-tab [content-inner-le] minmax(2rem, 1fr);
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Light.woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Medium.woff");
  font-weight: 500;
  font-size: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-MediumItalic.woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 62.5%; // 10px / 16px = 62.5%
}

body,
input,
textarea {
  font-family: "SF Pro Display";
}

.container {
  // width: 120rem;
  display: grid;
  grid-template-rows: repeat(11, min-content);
  grid-template-columns:
    [full-start] minmax(2rem, 1fr)
    [content-left-start] $column [content-left-end] repeat(
      2,
      [middle-spacing-start] $spacing [middle-spacing-end]
    )
    [content-right-start] $column [content-right-end] minmax(2rem, 1fr)
    [full-end];
  overflow: hidden;

  @include respond(tab) {
    grid-template-columns:
      [full-start] minmax(2rem, 1fr)
      [content-left-start] $column-tab [content-left-end
      middle-spacing-start] $spacing-tab [middle-spacing-end
      content-right-start] $column-tab [content-right-end] minmax(2rem, 1fr)
      [full-end];
  }
  @include respond(phone) {
    grid-template-columns:
      [full-start] minmax(2rem, 1fr)
      [content-left-start] $column-tab [content-right-end]
      minmax(2rem, 1fr)
      [full-end];
  }
}

.btn {
  cursor: pointer;
  padding: 1.5rem 3rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  font-family: inherit;
  border: 1px solid $color-grey-dark;

  @include respond(tab) {
    font-size: 1.8rem;
  }

  &:focus {
    outline: none;
  }
  &--black {
    // background-color: $color-grey-dark;
    background-color: $color-black;
    color: $color-white;

    &:hover {
      background-color: $color-grey-another;
      color: $color-text;
      border-color: $color-grey-another;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-text;

    &:hover {
      background-color: $color-grey-dark;
      color: $color-white;
    }
  }
}
