.characteristics {
  grid-column: content-left-start / content-right-end;
  padding: $padding-global 0;

  &__grid {
    display: grid;
    column-gap: 9rem;
    row-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  }
}
