.comfort-zone {
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: $inner-grid-columns-template-fullwidth;
  align-items: center;
  @include respond(tab) {
    grid-template-columns: $inner-grid-columns-template-fullwidth-tab;
  }

  &__img {
    grid-column: content-inner-rs/content-inner-re;
    height: 60rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    grid-column: middle-inner-l/content-inner-le;
  }
}
