.description {
  padding: 20rem;
  padding-bottom: 10rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__par {
    width: 60rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    color: #222;

    &--narrow {
      max-width: 52rem;
      margin-right: 8rem;
    }
  }
}

.head__wrapper {
  display: block;
  margin-bottom: 8rem;
}
