.description {
  grid-column: content-left-start / content-right-end;

  display: grid;
  grid-template-columns: $inner-grid-columns-template;
  padding: $padding-global 0 10rem;

  .head__wrapper {
    grid-column: content-inner-ls / content-inner-re;
  }

  &__par {
    &--1 {
      grid-column: spacing-inner-rs / content-inner-re;
    }

    &--2 {
      grid-column: content-inner-ls / content-inner-le;
    }

    &--3 {
      grid-column: spacing-inner-rs / content-inner-re;
    }
  }
}
