.description {
  padding: 20rem;
  padding-bottom: 10rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__par {
    width: 60rem;
    &--narrow {
      max-width: 52rem;
      margin-right: 8rem;
    }
  }
}
