.footer {
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: $inner-grid-columns-template-fullwidth;
  @include respond(tab) {
    grid-template-columns: $inner-grid-columns-template-fullwidth-tab;
  }
  @include respond(phone) {
    grid-template-columns: $inner-grid-columns-template-phone-fullwidth;
  }
  padding: 6rem 0 4rem;
  background-color: $color-text;
  color: $color-white;

  &__copy {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    grid-column: middle-inner-l/content-inner-le;
    grid-row: 2/3;
    @include respond(tab) {
      grid-column: content-inner-rs/middle-inner-r;
      align-self: flex-end;
      justify-self: flex-end;
    }
    @include respond(phone) {
      grid-row: 4/5;
      grid-column: content-inner-ls/content-inner-le;
      justify-self: unset;
      display: flex;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-self: start;

    column-gap: 6rem;
    row-gap: 2rem;
    @include respond(notebook) {
      column-gap: 4rem;
    }
    @include respond(tab) {
      grid-column: middle-inner-l/content-inner-le;
    }
    @include respond(phone) {
      grid-template-columns: max-content;

      margin-bottom: 6rem;
      grid-row: 2/3;
      grid-column: content-inner-ls/content-inner-le;
    }

    &__link {
      text-decoration: none;
      color: $color-white;
    }
  }

  &__phone {
    font-size: 2.8rem;
  }

  &__contacts {
    grid-column: content-inner-rs/middle-inner-r;
    justify-self: flex-end;
    margin-bottom: 3.1rem;

    @include respond(tab) {
      margin-bottom: 6rem;
    }
    @include respond(phone) {
      grid-row: 1/2;
      grid-column: content-inner-ls/content-inner-le;
      justify-self: unset;
    }
  }

  .heading-2 {
    grid-column: middle-inner-l/content-inner-le;
    @include respond(tab) {
      grid-row: 2/3;
    }
    @include respond(phone) {
      grid-row: 3/4;
      grid-column: content-inner-ls/content-inner-le;
      display: block;
      margin-bottom: 1rem;
    }
  }

  .heading-2,
  .heading-3 {
    color: $color-white;
  }

  .heading-3 {
    margin-bottom: 3rem;
  }
}
