.footer {
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: $inner-grid-columns-template-fullwidth;
  padding: 6rem 0 4rem;
  background-color: $color-text;

  color: $color-white;

  &__copy {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-self: start;

    column-gap: 6rem;
    row-gap: 2rem;

    &__link {
      text-decoration: none;
      color: $color-white;
    }
  }

  &__phone {
    font-size: 2.8rem;
  }

  &__contacts {
    grid-column: content-inner-rs/middle-inner-r;
    justify-self: flex-end;
  }

  &__heading__wrapper {
    grid-column: middle-inner-l/content-inner-le;
    height: 18.9rem;
    display: grid;
    align-content: space-between;
  }

  .heading-2,
  .heading-3 {
    color: $color-white;
  }

  .heading-3 {
    margin-bottom: 3rem;
  }
}
