.gallery {
  grid-column: content-left-start / full-end;

  padding: $padding-global 0;

  &__mask__wrapper {
    width: 100%;
  }

  &__wrapper {
    margin-bottom: 6rem;
    display: flex;
    transition: all 0.3s;

    &--img {
      position: relative;

      &:not(:last-of-type) {
        margin-right: 4rem;
      }
    }

    &--overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        360deg,
        #000000 0%,
        rgba(0, 0, 0, 0) 27.55%
      );
    }
  }
  &__caption {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    color: $color-white;
  }
}

.arr-buttons {
  svg {
    width: 4.1rem;
    height: 1.6rem;
    cursor: pointer;
    margin-right: 3rem;
    fill: $color-grey-light;

    &:hover {
      fill: $color-grey-dark;
    }
  }
}
