.nav {
  grid-column: content-left-start / content-right-end;

  display: grid;
  grid-template-columns: repeat(2, minmax(37rem, max-content));
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  @include respond(tab) {
    grid-template-columns: $inner-grid-columns-template-tab;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: center;
    grid-column-gap: 4rem;

    @include respond(notebook) {
      display: none;
    }
  }
  &__wrapper__little {
    position: relative;
    justify-self: start;
    display: none;
    width: 4rem;
    height: 3.1rem;

    @include respond(tab) {
      width: 3.5rem;
    }
    @include respond(phone) {
      width: 3rem;
    }

    &__menu {
      display: none;
    }

    label {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .menu__icon {
      top: 50%;

      &,
      &::before,
      &::after {
        position: absolute;
        width: 100%;
        height: 0.4rem;
        background-color: $color-grey-dark;
        display: inline-block;
      }

      &::before {
        content: "";
        transform: translateY(-1.2rem);
        @include respond(tab) {
          transform: translateY(-1rem);
        }
        @include respond(phone) {
          transform: translateY(-0.8rem);
        }
      }

      &::after {
        content: "";
        transform: translateY(1.2rem);
        @include respond(tab) {
          transform: translateY(1rem);
        }
        @include respond(phone) {
          transform: translateY(0.8rem);
        }
      }
    }

    @include respond(notebook) {
      display: inline-block;
    }
  }

  h2 {
    margin-right: 4rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(1rem, max-content));
    align-items: center;
    grid-column-gap: 4rem;

    list-style: none;
  }

  &__item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
  }

  &__link {
    text-decoration: none;
    color: #222222;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    grid-column-gap: 4rem;
    @include respond(tab) {
      grid-template-columns: max-content;
      grid-column: content-inner-rs/content-inner-re;
      justify-content: flex-end;
      .btn {
        display: none;
      }
    }
  }
}

.phone {
  a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 2rem;
    line-height: 140%;
    color: #222;
    @include respond(phone) {
      font-size: 1.6rem;
    }
  }
}
