.style {
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: $inner-grid-columns-template-fullwidth;
  align-items: center;

  &__img {
    grid-column: content-inner-ls/content-inner-le;
    height: 60rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    grid-column: spacing-inner-rs/middle-inner-r;
  }
}
