.heading {
  &-1 {
    font-size: 9.6rem;
    line-height: 11.5rem;
    letter-spacing: 1rem;
    font-weight: 400;
    color: $color-white;
    text-transform: uppercase;
    @include respond(phone) {
      font-size: 5.6rem;
      line-height: 6.7rem;
    }
  }

  &-2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4rem;
    color: $color-black;
    line-height: 120%;
    letter-spacing: 0.1rem;
    @include respond(tab) {
      font-size: 3rem;
    }

    &--light {
      text-transform: none;
      color: $color-white;
      font-weight: 200;
      @include respond(tab) {
        font-size: 4rem;
      }
      @include respond(phone) {
        font-size: 3rem;
      }
    }

    &--bold {
      text-transform: none;
      font-weight: 700;
    }
  }

  &-3 {
    font-weight: 400;
    font-size: 2.8rem;
    color: $color-text;
    line-height: 125%;
    @include respond(tab) {
      font-size: 2.2rem;
    }
  }
}
.paragraph,
input,
textarea {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: $color-text;

  &--bold {
    font-weight: 700;
  }
}

.paragraph {
  @include respond(tab) {
    font-size: 1.6rem;
  }
}
