.u-heading-margin {
  margin-bottom: 8rem;
  @include respond(notebook) {
    margin-bottom: 6rem;
  }
  @include respond(tab) {
    margin-bottom: 4rem;
  }
}

.u-paragraph-margin {
  margin-bottom: 1.2rem;
}

.u-margin-medium-t {
  margin-top: 2rem;
}

.u-margin-small-b {
  margin-bottom: 1rem;
}

.u-margin-big-b {
  margin-bottom: 4rem;
  @include respond(tab) {
    margin-bottom: 2rem;
  }
}

.u-margin-largest-b {
  margin-bottom: $padding-global;
  @include respond(tab) {
    margin-bottom: $padding-global-tab;
  }
  @include respond(phone) {
    margin-bottom: $padding-global-phone;
  }
}
