.u-heading-margin {
  margin-bottom: 8rem;
}

.u-paragraph-margin {
  margin-bottom: 1.2rem;
}

.u-margin-medium-t {
  margin-top: 2rem;
}

.u-margin-small-b {
  margin-bottom: 1rem;
}

.u-margin-big-b {
  margin-bottom: 4rem;
}

.u-margin-largest-b {
  margin-bottom: 20rem;
}
